/*%title-font {
    font-family: 'Scada', sans-serif;
    font-weight: 700;
}


$dark-bg: #414141;
$grey-bg: #555555;
$body-bg: #888;

$red-hover: #F24444;*/

$default: #0F0F0F;
$red: #FF0000;
$yellow: #FFCD00;