/*%title-font {
    font-family: 'Scada', sans-serif;
    font-weight: 700;
}


$dark-bg: #414141;
$grey-bg: #555555;
$body-bg: #888;

$red-hover: #F24444;*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font: inherit inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  background: transparent;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  min-width: 320px;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

.none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social__item {
  margin-right: 0.625rem;
}

.social__item:last-child {
  margin-right: 0;
}

.phone {
  font-weight: 700;
  text-decoration: underline;
  color: #FF0000;
  font-size: inherit;
}

.phone:hover,
.phone:active,
.phone:focus {
  color: #0F0F0F;
}

.top {
  color: #0F0F0F;
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

.top__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 35%;
  flex: 0 1 35%;
}

.info__address {
  margin-bottom: 0.625rem;
  line-height: 1.3;
}

.info__phone {
  margin-bottom: 0.9375rem;
}

.header {
  font-size: 1.125rem;
}

.navigation {
  background: #FF0000;
  min-height: 2.5rem;
  color: #fff;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navigation__link {
  padding: 0.6875rem 1.875rem;
}

.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus {
  background: #000;
  color: #FFCD00;
}

.mobile-nav-button {
  position: relative;
  z-index: 2;
  width: 2.5rem;
  height: 1.875rem;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav-button__icon {
  background: #fff;
  display: block;
  position: relative;
  width: 1.875rem;
  height: 0.125rem;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
  background: #fff;
  position: absolute;
  content: "";
  width: 1.875rem;
  height: 0.125rem;
  -webkit-transition: top 0.15s ease-in, -webkit-transform 0.15s ease-in;
  transition: top 0.15s ease-in, -webkit-transform 0.15s ease-in;
  -o-transition: transform 0.15s ease-in, top 0.15s ease-in;
  transition: transform 0.15s ease-in, top 0.15s ease-in;
  transition: transform 0.15s ease-in, top 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.mobile-nav-button__icon::before {
  left: 0;
  top: -0.625rem;
}

.mobile-nav-button__icon::after {
  left: 0;
  top: 0.625rem;
}

.mobile-nav-button__icon.active {
  background: transparent;
}

.mobile-nav-button__icon.active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15;
  -o-transition: top 0.15s linear, transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15, -webkit-transform 0.15s ease-in 0.15;
}

.mobile-nav-button__icon.active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15;
  -o-transition: top 0.15s linear, transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15, -webkit-transform 0.15s ease-in 0.15;
}

.mobile-nav {
  background: #FF0000;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  padding: 1.125rem 0;
}

.mobile-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-nav__item:hover {
  background: #000;
}

.mobile-nav__link {
  width: 100%;
  padding: 0.9375rem;
}

.preview {
  padding: 5rem 0 13.4375rem 0;
}

.preview__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.preview__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 42%;
  flex: 0 1 42%;
}

.preview__title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.125rem;
}

.preview__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;
}

.preview__text {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.875rem;
}

.preview__text p + p {
  margin-top: 1.5625rem;
}

.preview__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview__record {
  margin-right: 0.9375rem;
}

.img-block {
  position: relative;
}

.img-block::before,
.img-block::after {
  content: "";
  position: absolute;
  width: 14%;
  height: 20%;
  z-index: -1;
}

.img-block--right::before {
  background: #FFCD00;
  top: -9%;
  left: -7%;
}

.img-block--right::after {
  background: #FF0000;
  right: 20%;
  bottom: -9%;
}

.img-block--left::before {
  background: #FFCD00;
  top: -10%;
  right: -6%;
}

.img-block--left::after {
  background: #FF0000;
  bottom: -11%;
  left: 20%;
}

.btn {
  background: #FF0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  min-height: 2.75rem;
  padding: 0.3125rem 1.125rem;
  border: 1px solid transparent;
}

.btn--get-test {
  background: #000;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #FFCD00;
  color: #000;
  border-color: #000;
}

.about {
  background: #FF0000;
  padding: 1.875rem 0;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.5;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 44%;
  flex: 0 1 44%;
}

.about__text p + p {
  margin-top: 1.5625rem;
}

.about__registration {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 42%;
  flex: 0 0 42%;
}

.registration {
  color: #fff;
}

.registration__top-wrapper {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6.875rem;
  font-size: 1.25rem;
}

.registration__bottom-wrapper {
  background: #FFCD00;
  padding: 1.875rem;
}

.registration__labels-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.875rem;
}

.registration__label {
  display: block;
}

.registration__label + .registration__label {
  margin-top: 1.125rem;
}

.registration__input {
  width: 100%;
  padding: 0.375rem 0.625rem;
  font-weight: 700;
  border: 1px solid transparent;
}

.registration__input::-webkit-input-placeholder {
  font-weight: inherit;
  color: inherit;
}

.registration__input::-moz-placeholder {
  font-weight: inherit;
  color: inherit;
}

.registration__input:-ms-input-placeholder {
  font-weight: inherit;
  color: inherit;
}

.registration__input::-ms-input-placeholder {
  font-weight: inherit;
  color: inherit;
}

.registration__input::placeholder {
  font-weight: inherit;
  color: inherit;
}

.registration__input:hover,
.registration__input:active,
.registration__input:focus {
  border-color: #000;
}

.registration__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.registration__record {
  margin-right: 0.9375rem;
}

.features {
  padding: 8.4375rem 0;
  text-align: center;
}

.features__title {
  margin-bottom: 3.75rem;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 3.75rem;
}

.title {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1.3;
}

.uppercase-title {
  text-transform: uppercase;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features-item picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.features-item__label {
  font-size: 1.25rem;
  line-height: 1.3;
}

.missions {
  padding-bottom: 11.25rem;
}

.missions__title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 7.5rem;
  text-align: center;
}

.missions__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
  -webkit-column-gap: 4.375rem;
  -moz-column-gap: 4.375rem;
  column-gap: 4.375rem;
  row-gap: 1.125rem;
}

.missions-item {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.missions-item__title {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}

.missions-item__text {
  font-size: 1.125rem;
  line-height: 1.5;
}

.lessons {
  padding-bottom: 9.375rem;
}

.lessons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lessons__wrapper--img-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.lessons__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 34%;
  flex: 0 1 34%;
}

.lessons__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 43%;
  flex: 0 1 43%;
}

.lessons__title {
  margin-bottom: 1.125rem;
}

.lessons__text {
  font-size: 1.125rem;
  line-height: 1.5;
}

.lessons__text p + p {
  margin-top: 0.625rem;
}

.programms {
  padding-bottom: 8.125rem;
  text-align: center;
}

.programms__title {
  margin-bottom: 3.75rem;
}

.programms__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px;
  width: 73%;
  margin: 0 auto;
}

.proggram-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 7.5rem;
  padding: 0.3125rem 1.125rem;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  border: 1px solid transparent;
  position: relative;
}

.proggram-item--black {
  background: #000;
}

.proggram-item--red {
  background: #FF0000;
}

.proggram-item--yellow {
  background: #FFCD00;
}

.proggram-item:hover {
  background: #FFCD00;
  color: #000;
  border-color: #000;
}

.questions {
  padding: 8.125rem 0;
}

.questions__title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.questions__list {
  width: 73%;
  margin: 0 auto;
}

.questions__item + .questions__item {
  margin-top: 1.875rem;
}

.question-item {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #fff;
}

.levels {
  background: #FFCD00;
  padding: 8.75rem 0;
  color: #fff;
  text-align: center;
}

.levels__title {
  margin-bottom: 6.25rem;
}

.levels__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
  gap: 2.5rem;
  width: 73%;
  margin: 0 auto;
}

.item-level {
  background: #0F0F0F;
  padding: 0.3125rem;
  display: grid;
  padding: 5.9375rem 2.1875rem 3.75rem;
  grid-template-rows: auto 1fr auto;
}

.item-level__title {
  font-size: 2.375rem;
  margin-bottom: 1.125rem;
}

.item-level__label {
  margin-bottom: 2.1875rem;
}

.item-level__price {
  font-size: 1.25rem;
  color: #D2C8C8;
  letter-spacing: 0.5px;
}

.item-level__text {
  font-size: 1.125rem;
  color: #D2C8C8;
  line-height: 1.5;
  margin-bottom: 2.1875rem;
}

.item-level__text p + p {
  margin-top: 0.625rem;
}

.reviews {
  padding: 9.375rem 0;
}

.reviews__title {
  text-align: center;
  margin-bottom: 3.125rem;
}

.reviews__list {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
  gap: 1.875rem;
}

.item-review {
  background: #FF0000;
  color: #fff;
  padding: 2rem;
  line-height: 1.5;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.item-review__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.item-review__star {
  margin-right: 0.3125rem;
}

.item-review__comment {
  margin-bottom: 0.9375rem;
}

.item-review__comment p + p {
  margin-top: 0.625rem;
}

.item-review__author-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-review__img {
  background: #ccc;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.item-review__avatar {
  height: 3rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.contacts {
  padding-bottom: 3.75rem;
  text-align: center;
}

.contacts__title {
  margin-bottom: 1.875rem;
}

.contacts__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 3.75rem;
}

.contacts__addres,
.contacts__tel-link {
  margin-bottom: 0.9375rem;
  line-height: 1.3;
}

.contacts__map {
  width: 100%;
  height: 30%;
}

.contacts__map-iframe {
  width: 100%;
  height: 25rem;
}

.footer {
  font-size: 1.125rem;
}

.question-top {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 1.125rem 1.875rem;
}

.question-top:hover .question-top__text,
.question-top:active .question-top__text,
.question-top:focus .question-top__text {
  color: #FFCD00;
}

.question-top__text {
  margin-right: 2.1875rem;
}

.question-bottom {
  background: #000;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 0.0625rem solid #fff;
  padding: 1.125rem 1.875rem;
}

.question-bottom.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question-bottom__text p + p {
  margin-top: 0.625rem;
}

.breadcrumbs {
  padding: 1.875rem 0;
  font-size: 1.125rem;
  line-height: 1.3;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 1.875rem;
  padding-right: 3.75rem;
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  background: url(../img/breadcrumbs-arrow.svg) no-repeat;
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 0.9375rem;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.breadcrumbs__link {
  padding: 0.3125rem;
}

.breadcrumbs__link--active {
  color: #a49d9d;
}

.breadcrumbs__link[href]:hover {
  text-decoration: underline;
}

.courses {
  padding-top: 2.5rem;
}

.courses__title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.courses__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.courses__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 62%;
  flex: 0 1 62%;
  margin-right: 2.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.courses__text p + p {
  margin-top: 0.625rem;
}

.courses__registration {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 42%;
  flex: 0 0 42%;
}

.title-decor {
  position: relative;
}

.title-decor::before {
  background: #FFCD00;
  content: "";
  position: absolute;
  width: 70%;
  height: 85%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@supports (-webkit-appearance:none) {
  .breadcrumbs__item:not(:last-child)::after {
    background-image: url(../img/breadcrumbs-arrow.svg);
  }
}

@media (max-width: 1199.98px) {
  .preview__title,
  .missions__title {
    font-size: 2.25rem;
  }

  .container-fluid {
    padding: 0 0.9375rem;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 991.98px) {
  .preview {
    padding: 5rem 0 115px 0;
  }

  .preview__text,
  .btn {
    font-size: 1rem;
  }

  .preview__text {
    margin-bottom: 0.9375rem;
  }

  .preview__text p + p {
    margin-top: 0.9375rem;
  }

  .registration__buttons-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .registration__record {
    margin: 0 0 0.625rem 0;
  }

  .features {
    padding: 4.375rem 0;
  }

  .title {
    font-size: 1.875rem;
  }

  .lessons__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 42%;
    flex: 0 1 42%;
  }

  .missions {
    padding-bottom: 6.875rem;
  }

  .programms__list {
    width: 100%;
  }

  .lessons {
    padding-bottom: 6.25rem;
  }

  .questions {
    padding: 5rem 0;
  }

  .levels__list {
    width: 100%;
  }

  .levels {
    padding: 6.25rem 0;
  }

  .levels__title {
    margin-bottom: 4.375rem;
  }

  .reviews {
    padding: 6.25rem 0;
  }

  .courses__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .courses__text {
    margin: 0 0 2.5rem 0;
  }

  .courses__registration {
    width: 55%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 850px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__text {
    margin-bottom: 2.5rem;
  }

  .about__registration {
    width: 60%;
  }

  .missions {
    padding-bottom: 5rem;
  }

  .questions__list {
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767.98px) {
  .header,
  .footer {
    font-size: 1rem;
  }

  .top {
    padding: 1.5625rem 0;
  }

  .top__logo {
    -ms-flex-item-align: center;
    align-self: center;
  }

  .preview {
    padding: 3.125rem 0 3.75rem 0;
    text-align: center;
  }

  .preview__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .preview__buttons-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .preview__image {
    display: none;
  }

  .about__registration {
    width: 80%;
  }

  .registration__title,
  .about__text {
    font-size: 1rem;
  }

  .about__text {
    margin-bottom: 0.9375rem;
  }

  .about__text p + p {
    margin-top: 0.9375rem;
  }

  .features-item__label {
    font-size: 1rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .features-item__img {
    margin-bottom: 1.5625rem;
  }

  .features-item__icon {
    max-width: 57%;
  }

  .missions-item__title {
    font-size: 1.25rem;
  }

  .missions-item__text {
    font-size: 1rem;
  }

  .missions__title {
    margin-bottom: 3.75rem;
  }

  .lessons__text {
    font-size: 1rem;
  }

  .programms__list {
    font-size: 1rem;
  }

  .questions {
    padding: 3.125rem 0;
  }

  .levels__list {
    gap: 0.9375rem;
  }

  .item-level {
    padding: 3.1875rem 1.125rem 2.25rem;
  }

  .item-level__text {
    font-size: 1rem;
  }

  .item-level__title {
    font-size: 2rem;
  }

  .levels {
    padding: 3.75rem 0;
  }

  .levels__title {
    margin-bottom: 2.5rem;
  }

  .reviews {
    padding: 4.375rem 0;
  }

  .item-review {
    font-size: 0.875rem;
    padding: 1.5625rem;
  }

  .contacts {
    padding-bottom: 1.875rem;
  }

  .navigation__link {
    padding: 11px 1.125rem;
  }

  .question-item {
    font-size: 1rem;
  }

  .breadcrumbs {
    font-size: 1rem;
  }

  .courses__text {
    font-size: 1rem;
  }

  .courses {
    padding-top: 1.125rem;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 640px) {
  .courses__registration {
    width: 80%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 575.98px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .top__logo {
    margin-bottom: 1.125rem;
  }

  .info__address,
  .info__phone {
    display: none;
  }

  .logo__img {
    width: 80%;
    margin: 0 auto;
  }

  .mobile-nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navigation {
    padding: 0.625rem 0;
  }

  .navigation__list {
    display: none;
  }

  .preview__title,
  .missions__title {
    font-size: 1.875rem;
  }

  .features {
    padding: 2.5rem 0;
  }

  .features__title {
    margin-bottom: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .missions__list {
    grid-template-columns: 1fr;
  }

  .missions-item {
    grid-template-rows: 1fr auto;
    text-align: center;
  }

  .missions__title {
    margin-bottom: 2.1875rem;
  }

  .lessons {
    padding-bottom: 3.125rem;
  }

  .lessons__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .lessons__image {
    margin-bottom: 3.75rem;
  }

  .img-block--left::before {
    right: 4%;
  }

  .img-block--right::before {
    left: 4%;
  }

  .programms__list {
    grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
    gap: 0.625rem;
  }

  .proggram-item {
    font-size: 0.875rem;
  }

  .programms__title {
    margin-bottom: 2.5rem;
  }

  .questions__item + .questions__item {
    margin-top: 0.9375rem;
  }

  .questions__title {
    margin-bottom: 1.5625rem;
  }

  .levels__list {
    grid-template-columns: 1fr;
  }

  .reviews {
    padding: 2.5rem 0;
  }

  .reviews__list {
    grid-template-columns: 1fr;
    gap: 0.9375rem;
  }

  .reviews__title {
    margin-bottom: 1.875rem;
  }

  .contacts__info {
    font-size: 1rem;
    margin-bottom: 2.1875rem;
  }

  .container-fluid {
    padding: 0 0.4375rem;
  }

  .question-bottom,
  .question-top {
    padding: 1.125rem 1.5625rem;
  }

  .courses__registration {
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 460px) {
  .about__registration {
    width: 100%;
  }

  .registration__top-wrapper {
    height: 4.375rem;
  }

  .levels {
    padding: 2.5rem 0;
  }

  .levels__title {
    margin-bottom: 1.875rem;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 400px) {
  .preview {
    padding: 1.875rem 0 3.125rem 0;
  }

  .preview__title,
  .missions__title {
    font-size: 1.5rem;
  }

  .registration__bottom-wrapper {
    padding: 0.9375rem;
  }

  .item-level {
    margin: 0 -0.9375rem;
  }

@supports (-webkit-appearance:none) {

}
}