.features {
    padding: 8.4375rem 0;
    text-align: center;
    &__title {
        margin-bottom: 3.75rem;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
        gap: 3.75rem;
    }
}