.question-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #000;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 1.125rem 1.875rem;
    &:hover,
    &:active,
    &:focus {
        .question-top__text {
            color: $yellow;
        }
    }
    &__text {
        margin-right: 2.1875rem;
    }
}